@charset "utf-8";
/* Global Styles */









body {
	margin-left: auto;
	margin-right: auto;
	width: 92%;
	max-width: 960px;
	padding-left: 2.275%;
	padding-right: 2.275%;
	color: #FFFFFF;
	background-color: #070606;
	font-family: "Arimo", "Courier New", monospace;
	font-style: inherit;
	text-align: left;
	word-spacing: normal;
	text-decoration: none;
}
/* Header */
#banner {

	display: block;


	text-align: center;
}


#menu{
	font-size: 24px;
	text-align: center;
}


ul.mainmenu {
  display: inline-block;
  padding: 0;
  margin: .5rem;
	

  text-align: center;
}
ul.mainmenu li 
{ display: inline;
	border: 1px;
	border-style: solid;
	border-color: AAAAAA;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 24px;
	padding-right: 24px;
	background-color: #333333;
}
ul.mainmenu li a 
{ white-space: nowrap; 
	text-decoration:none; 
	color:#DDDDDD;
	
}
ul.mainmenu li a:visited
{ white-space: nowrap; 
	text-decoration:none; 
	color:#DDDDDD;
	
}

ul.mainmenu li a:hover
{ white-space: nowrap; 
	text-decoration:none; 
	color:#FFFFFF;
	
}



#content{
	width: 720px;
	margin: auto;
	
}



#footer{
	
}

h1 {
	
	color: rgba(255,255,255,1);
	font-size: 30px;
	font-weight: 700;
	line-height: 24px;
	font-style: normal;
}
h3 {
	
	color: rgba(146,146,146,1.00);
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
}
hr {
	color: rgba(255,255,255,1);
	height: 4px;
	
}
p {
	
	
	font-size: medium;
	
}


.photo{
	color: #FFFFFF;
	width: 400px;
	margin: 16px;
	float:right;
	font-size:small;
}


/* Media query for Mobile devices*/
@media only screen and (max-width : 480px) {

			ul.mainmenu {
	  display: block;
	  padding: 0;
	  margin: .5rem;
	  text-align: center;
	}
	ul.mainmenu li 
	{ display: block;
		border: 1px;
		border-style: solid;
		border-color: AAAAAA;
		padding: 12px;
		background-color: #333333;
	}
	ul.mainmenu li a 
	{ white-space: nowrap; 
		text-decoration:none; 
		color:#DDDDDD;

	}
	ul.mainmenu li a:visited
	{ white-space: nowrap; 
		text-decoration:none; 
		color:#DDDDDD;

	}

	ul.mainmenu li a:hover
	{ white-space: nowrap; 
		text-decoration:none; 
		color:#FFFFFF;

	}
}
	


/* Media Query for Tablets */
@media only screen and (min-width : 481px) and (max-width : 1024px) {
	
		ul.mainmenu {
	  display: block;
	  padding: 0;
	  margin: .5rem;
	  text-align: center;
	}
	ul.mainmenu li 
	{ display: block;
		border: 1px;
		border-style: solid;
		border-color: AAAAAA;
		padding: 12px;
		background-color: #333333;
	}
	ul.mainmenu li a 
	{ white-space: nowrap; 
		text-decoration:none; 
		color:#DDDDDD;

	}
	ul.mainmenu li a:visited
	{ white-space: nowrap; 
		text-decoration:none; 
		color:#DDDDDD;

	}

	ul.mainmenu li a:hover
	{ white-space: nowrap; 
		text-decoration:none; 
		color:#FFFFFF;

	}


	footer .footerDisclaimer {
		float: left;
		margin-left: 3%;

	}
	footer .footerNote {
		float: right;
		margin-right: 3%;

	}
}

/* Desktops and laptops  */
@media only screen and (min-width:1025px) {


	
}